
//colours
$red:#e65848;
$grey:#eeeeee;
$highlight:#00c3b6;
$darkTone:#666666;
$brand:#171717;
$black:#000000;
$white:#ffffff;

// font sizes
$xSmallFont:12px;
$smallFont:18px;
$mediumFont:29px;
$largeFont:50px;
$xLargeFont:80px;



//line-height
$xxSmallLineHeight:20px;
$xSmallLineHeight:23px;
$smallLineHeight:25px;
$mediumLineHeight:36px;
$largeLineHeight:40px;
$xLargeLineHeight:92px;

//buttons
$button-padding: 0.5rem 1rem;
$font-size: 12px;             // 1 factor below base 16px in modular type scale
$button-border-width: 1px;    // border width for all form inputs
$button-color-hover: #fcfcfc; // the light/white brand color
//padding